.draggable-card
{
    background-color: rgb(218, 198, 198);
    border: 2px solid black;
    border-style: solid;
    border-radius: 5px;
}

.drag
{
    border-style: dashed;
    opacity: 0.25;
}